body{
    background-color: #faf5f4;
    font-family: 'Poppins';
}

#navbar {
    list-style-type: none;
    display: flex;
    top: 0;
    margin: 0;
    padding: 0;
    background-color: gray;
  }

.nav-item{
    text-decoration: none;
    display: block;
    color: #faf5f4;
    /* padding: 0.5rem; */
    margin: 0 0.5rem;
}

.nav-item:hover{
    transform: scale(1.05);
}

#page-head{
    display: flex;
    align-items: center;
    justify-content: center;

    

}

.col{
    float: left;
}

#left-col{
    width: 70%;
}

#right-col{
    width: 20%;
}

#photo{
    width: 200px;
    border-radius: 70px;
    margin-top: 150px;
    margin-left: 20px;
}

